@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Lobster&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'alkatra';
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

:root {
    --bg-font: 5rem;
    --h2-font: 2.25rem;
    --p-font: 0.9reM;
}
::selection{
    background: #ff702a;
    color: #fff;
}
body{
    background-image: url("https://img.freepik.com/free-vector/dark-black-background-design-with-stripes_1017-38064.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color:#fff ;
    background-color: black;
}
header{
    position: fixed;
    top: 0;
    right: o;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 170px;
    
}
.logo{
    color: #ff702a;
    font-weight: 600;
    font-size: 2.4rem;
}
.navbar{
    display: flex;
}
.navbar a{
    color:#fff ;
    font-size: 1.1rem;
    padding: 10px 20px;
    font-weight: 500;
}
.navbar a:hover{
    color: #ff702a;
    transition: 0.4sec;
}
#menu-icon{
    font-size: 2rem;
    cursor: pointer;
    display: none;
}
section{
    padding: 70px 17%;
}
.home{
    width: 100%;
    min-height: 90vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
    align-items: center;
}
.home-img img{
    max-width: 80%;
    width: 400px;
    height: auto;
}
.home-text h1{
    font-size: var(--big-font);
    color: #ff702a;
}
.home-text h2{
    font-size: var(--h2-font);
    margin: 1rem 0 2rem;
}
.btn{
    display: inline-block;
    padding: 10px 20px;
    background: #ff702a ;
    color: #fff;
    border-radius: 0.5rem;
}
.btn:hover{
    transform: scale(1.2) translate(10px)
    transition: 0.4sec;
}

@media (max-width: 1560px){
    header{
        padding: 15px 40px;
    }
    :root{
        --big-font:3.5rem;
        --h2-font: 2rem;
    }
}

@media (max-width: 11400px){
    section{
        padding: 50px 8%;
    }
    #menu-icon {
        display: initial;
        color:#fff;
    }
    header.navbar{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        background: #2b2640;
        transition: 0.3sec;
    }
    header.navber.active{
        top: 70px;
    }
    .navbar a{
        padding: 1.5rem;
        display: block;
    }
}