*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: arial;
}

.wrapper{
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: #aaa;
    background-image: url("https://media.istockphoto.com/id/877787978/photo/dark-blue-abstract-background.jpg?s=170667a&w=0&k=20&c=n4SntaAaX9jHueWMRCjFAJxE9dK55R_PyBeU1d7EvCU=");
    background-repeat: no-repeat;
    background-size: cover;
}

.row{
    width: 100%;
    padding: 50px 100px;
}

.image-section{
    width: 30%;
    float: left;
}

.image-section img{
    width: 100%;
    height: auto;
}

.content{
    width: 60%;
    float: left;
    margin-left: 50px;
}

.content h1{
    font-size: 90px;
    font-family: Lobster;
    letter-spacing: 3.5px;
    margin-top: 25px;
    color: #fff;
}

.content h2{
    font-size: 40px;
    font-family: lobster;
    color: mediumvioletred;
    margin-top: 25px;
}

.content p{
    font-size: 20px;
    font-family: serif;
    color: white;
    margin-top: 10px;
    line-height: 1.5;
}
.container{
    width: 90%;
    padding: 20px;
    margin: 100px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box{
    width: 250px;
    margin: 0 10px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
    transition: 1s;
}


img{
    display: block;
    width: 100%;
    border-radius: 5px;
}

.box:hover{
    transform: scale(1.3);
    z-index: 2px;
}

@media screen and (max-width: 768px){
    .image-section{
        width: 100%;
        float: none;
    }
    .content{
        width: 100%;
        float: none;
        margin-left: 0px;
    }
    .content h1{
        font-size: 60px;
        letter-spacing: 2px;
        margin-top: 30px;
    }
    
    .content h2{
        font-size: 30px;
    }
    
    .content p{
        font-size: 18px;
        
    }
    
}
    
