* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* background-color:#0b0b0c; */
   
}
.product {
    background:url(https://img2.goodfon.com/wallpaper/big/d/b8/abstrakciya-render-fon-chernyy.jpg);
    background-size:cover;
}
div {
    display: inline-block;
}

.threeSpread {
    width: 100%;
    margin: 40px 0px 20px 0px;
    /* background-image:#08080e77; */
}


 .heading{
    width: 100%;
    text-align: center;
    color: aliceblue;
    font-style:italic;
    font-size: large;

 }

div.inner, div.outer {
    margin: 19px;
    text-align: center;
    /* font-style: italic; */
    font-size:large;
}

.unclassed {
    text-align: center;
    margin: 19px;
    width: 100%;
    /* font-style: italic; */
    font-size:large;
}

.outer a{
text-decoration: none;
    color: #fdfdfc;
    font-size: 14px;
}

.btn{
    background-color:#FE702D;
    cursor: pointer;
    border:none ; 
    /* color: rgb(10, 10, 10); */
    font-size: 16px;
    border-radius: 0px;
    text-decoration:none;
    width: 300px;
    padding: 6px;
}

       

 .inner a{
    text-decoration: solid;
    color: #fffefd;
    cursor: pointer;
    font-size: 16px;
    border-radius: 6px;
 }
  


@media (max-width: 568px) {

    .outer img {
        float: left;
        margin-right: 50px;
    }

    .inner img {
        float: right;
        margin-right: 50px;
    }

    h2 {
        margin-top: 50px
      
      }
      
}
      
        

    
    
    



